
/* HTML Elements */
* {
    margin:0;
    padding:0;
}

body{
    /* font:11pt Cantarell,'Droid Sans',Verdana,sans-serif; */
    /* font:11pt Arial,sans-serif; */
    font-size:12px;
    /*font-family: "Palatino Linotype", *//* Windows *//* "URW Palladio L", *//* Unix+FontConfig (ugly!) *//* "palladio l", *//* Unix+X+FreeType *//* palatino, *//* MacOS *//* "book antiqua", *//* Win95 *//* *//* Fallback options *//* times, *//* Unix+X, MacOS *//* serif;*/
    /*font-family: "Source Sans Pro", sans-serif;*/
    /*font-family: "arial",sans-serif;*/
    font-family: 'Quintessential', sans-serif, sans-serif;
    background:#333;
}

td, th{
    display: table-cell;
    vertical-align: inherit;
}

table{
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

a, span, div{
    font-family: 'Microsoft Yahei', 'Microsoft Jhenghei', 'STHeiti', 'PMingLiU', 'Simsun', sans-serif;
}


.heiti { font-family: "simhei",sans-serif }
.yahei { font-family: "Microsoft YaHei",sans-serif }

a:link, a:visited{
    text-decoration: none;
}

body {
    color: #000;
}

#coming-soon{
    margin: 10px 0 0 0;
    width: 100%;
    height: 200px;
    /*background: gray;*/
    display: block;
}

.container{
    width: 932px;
    background: #fff;
    border-radius: 4px;
    padding: 0 30px 10px;
    margin: 5px auto 5px;
    min-height: 600px;
}

.clearfloat{
    clear: both;
    display: block;
}

.clearright{
    clear: right;
}

.left{
    float: left;
}

#main-left{
    float: left;
    /*background: green;*/
    width: 590px;
    padding: 10px;
}

#main-right{
    width: 310px;
    padding: 10px 5px 5px 5px;
    /*background: red;*/
    float: left;
}